@* Views/Shared/_AdminSidebar.cshtml *@
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link @(currentController == "Admin" && currentAction == "AdminDashboard" ? "active" : "collapsed")" asp-controller="Admin" asp-action="AdminDashboard">
            <i class="bi bi-grid"></i>
            <span>Admin Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
        <a class="nav-link @(currentController == "QC6Form" && currentAction == "QC6FormApprovalManagement" ? "active" : "collapsed")" asp-controller="QC6Form" asp-action="QC6FormApprovalManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC6 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "QC7Form" && currentAction == "QC7FormApprovalManagement" ? "active" : "collapsed")" asp-controller="QC7Form" asp-action="QC7FormApprovalManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC7 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "QC35Form" && currentAction == "QC35FormApprovalManagement" ? "active" : "collapsed")" asp-controller="QC35Form" asp-action="QC35FormApprovalManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC35 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "SignedFSForm" && currentAction == "SignedFSFormManagement" ? "active" : "collapsed")" asp-controller="SignedFSForm" asp-action="SignedFSFormManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage Signed FS</span>
        </a>
    </li>
    @*     <li class="nav-item">
            <a class="nav-link @(currentController == "Admin" && currentAction == "GenerateReport" ? "active" : "collapsed")" asp-controller="Admin" asp-action="GenerateReport">
                <i class="bi bi-person"></i>
                <span>Generate Report</span>
            </a>
        </li> *@
    <li class="nav-item">
        <a class="nav-link @(currentController == "Admin" && currentAction == "AccountManagement" ? "active" : "collapsed")" asp-controller="Admin" asp-action="AccountManagement">
            <i class="bi bi-person"></i>
            <span>Account Management</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "Reports" && currentAction == "GenerateReports" ? "active" : "collapsed")" asp-controller="Reports" asp-action="GenerateReports">
            <i class="bi bi-file-earmark-text"></i>
            <span>Generate Report</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "DisplayStatus" && currentAction == "DisplayStatus" ? "active" : "collapsed")" asp-controller="DisplayStatus" asp-action="DisplayStatus">
            <i class="bi bi-list-check"></i>
            <span>Display Status</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "Quizzes" && currentAction == "ViewAllQuiz" ? "active" : "collapsed")" asp-controller="Quizzes" asp-action="ViewAllQuiz">
            <i class="bi bi-person"></i>
            <span>View Quizzes</span>
        </a>
    </li>
    <!-- End Profile Page Nav -->
</ul>