@* Views/Shared/_AdminSidebar.cshtml *@
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link @(currentController == "Admin" && currentAction == "AdminDashboard" ? "active" : "collapsed")" asp-controller="Admin" asp-action="AdminDashboard">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-heading">Audit Workflow</li>

    <li class="nav-item">
        <a class="nav-link @(currentController == "QC6Form" && currentAction == "QC6FormApprovalManagement" ? "active" : "collapsed")" asp-controller="QC6Form" asp-action="QC6FormApprovalManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC6 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "QC7Form" && currentAction == "QC7FormApprovalManagement" ? "active" : "collapsed")" asp-controller="QC7Form" asp-action="QC7FormApprovalManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC7 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "QC35Form" && currentAction == "QC35FormApprovalManagement" ? "active" : "collapsed")" asp-controller="QC35Form" asp-action="QC35FormApprovalManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC35 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "SignedFSForm" && currentAction == "SignedFSFormManagement" ? "active" : "collapsed")" asp-controller="SignedFSForm" asp-action="SignedFSFormManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage Signed FS</span>
        </a>
    </li>

    @{
        <!-- Only Administrators can view this -->
        var user = Context.User;

        if (user.IsInRole("Admin"))
        {
        <li class="nav-heading">Staff Training</li>

        <li class="nav-item">
            <a class="nav-link @(currentController == "Quizzes" && currentAction == "ViewAllQuiz" ? "active" : "collapsed")" asp-controller="Quizzes" asp-action="ViewAllQuiz">
                <i class="bi bi-clipboard2-check"></i>
                <span>View Quizzes</span>
            </a>
        </li>
                <li class="nav-item">
                <a class="nav-link @(currentController == "Feedback" && currentAction == "ViewAllFeedbackForms" ? "active" : "collapsed")" asp-controller="Feedback" asp-action="ViewAllFeedbackForms">
                <i class="bi bi-clipboard2-check"></i>
                <span>View Feedback Forms</span>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link @(currentController == "SelfAssessment" && currentAction == "ViewAllSelfAssessmentForms" ? "active" : "collapsed")" asp-controller="SelfAssessment" asp-action="ViewAllSelfAssessmentForms">
                    <i class="bi bi-clipboard2-check"></i>
                    <span>View Self Assessment Forms</span>
                </a>
            </li>

        <li class="nav-heading">Administration</li>

        <li class="nav-item">
            <a class="nav-link @(currentController == "Chatbot" && currentAction == "ChatbotManagement" ? "active" : "collapsed")" asp-controller="Chatbot" asp-action="ChatbotManagement">
                <i class="bi bi-chat"></i>
                <span>Manage Chatbot</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(currentController == "Reports" && currentAction == "GenerateReports" ? "active" : "collapsed")" asp-controller="Reports" asp-action="GenerateReports">
                <i class="bi bi-file-earmark-text"></i>
                <span>Generate Report</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(currentController == "Admin" && currentAction == "AccountManagement" ? "active" : "collapsed")" asp-controller="Admin" asp-action="AccountManagement">
                <i class="bi bi-person"></i>
                <span>Account Management</span>
            </a>
        </li>
        }
     }
</ul>