@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link @(currentController == "Home" && currentAction == "Dashboard" ? "active" : "collapsed")" asp-controller="Home" asp-action="Dashboard">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-heading">Pages</li>

    <li class="nav-item">
        <a class="nav-link @(currentController == "QC6Form" && currentAction == "QC6FormManagement" ? "active" : "collapsed")" asp-controller="QC6Form" asp-action="QC6FormManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC6 Forms</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a class="nav-link @(currentController == "QC7Form" && currentAction == "QC7FormManagement" ? "active" : "collapsed")" asp-controller="QC7Form" asp-action="QC7FormManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC7 Forms</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a class="nav-link @(currentController == "QC35Form" && currentAction == "QC35FormManagement" ? "active" : "collapsed")" asp-controller="QC35Form" asp-action="QC35FormManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage QC35 Forms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentController == "SignedFSForm" && currentAction == "SignedFSFormManagement" ? "active" : "collapsed")" asp-controller="SignedFSForm" asp-action="SignedFSFormManagement">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>Manage Signed FS</span>
        </a>
    </li>
</ul>