@model PKFAuditManagement.ViewModels.QuizViewModel
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-12">
                <div class="row">
                    <div class="col-xxl-12 col-md-12">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <div class="form-container">
                                    @if (TempData["SuccessMessage"] != null)
                                    {
                                        <div class="alert alert-success">
                                            @TempData["SuccessMessage"]
                                        </div>
                                    }
                                    <form asp-action="Create" method="post">
                                        <div class="form-group">
                                            <label for="Title">Quiz Title</label>
                                            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="Description">Description</label>
                                            <textarea class="form-control" id="Description" name="Description" required>@Model.Description</textarea>
                                        </div>

                                        <!-- New Quiz Start Field -->
                                        <div class="form-group">
                                            <label for="QuizStart">Quiz Start</label>
                                            <!-- Set default value to current date and time -->
                                            <input type="datetime-local" class="form-control" id="QuizStart" name="QuizStart"
                                                   placeholder="dd/MM/yyyy" required />
                                        </div>
                                        <!-- New Participants Selection Field -->
                                        <div class="form-group">
                                            <label for="Participants">Participants (Note: Selection is limited to registered users only)</label>
                                            <br />
                                            <!-- Select Participants Button -->
                                            <button type="button" id="select-participants-btn" class="btn btn-secondary btn-sm">
                                                Select Participants
                                            </button>
                                            <span class="separator">OR</span>

                                            <!-- Upload via Excel Button -->
                                            <button type="button" id="upload-participants-btn" class="btn btn-secondary btn-sm">
                                                Upload via Excel
                                            </button>

                                            <!-- Display selected count -->
                                            <span id="participants-count" class="clickable" style="margin-left: 10px; color: blue; cursor: pointer;">
                                                0 participants selected
                                            </span>


                                            <!-- File Input for Excel Upload (Hidden initially) -->
                                            <input type="file" id="ExcelFile" name="ExcelFile" accept=".xlsx" style="display: none;" />
                                        </div>

                                        <input type="hidden" id="SelectedParticipants" name="SelectedParticipants" value="" />




                                        <div id="quiz-container">
                                            <!-- Updated Loop for Questions -->
                                            @for (int i = 0; i < Model.Questions.Count; i++)
                                            {
                                                <div class="card mb-3" data-index="@i">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5 class="card-title">Question @(i + 1):</h5>

                                                            <!-- Conditionally Render Remove Question Button -->
                                                            @if (i > 0)
                                                            {
                                                                <button type="button" class="btn btn-danger btn-sm remove-question">
                                                                    <i class="bi bi-trash"></i> Remove Question
                                                                </button>
                                                            }
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="Questions[@i].Description" value="@Model.Questions.ElementAt(i).Description" required />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Options:</label>
                                                            <div class="options-container">
                                                                @for (int j = 0; j < Model.Questions.ElementAt(i).Options.Count; j++)
                                                                {
                                                                    <div class="input-group mb-2 option-group">
                                                                        <input type="text" class="form-control" name="Questions[@i].Options[@j].OptionText" value="@Model.Questions.ElementAt(i).Options.ElementAt(j).OptionText" data-option-index="@j" required />
                                                                        <button type="button" class="btn btn-danger btn-sm remove-option">
                                                                            <i class="bi bi-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <button type="button" class="btn btn-secondary btn-sm add-option btn-add" data-question-index="@i">
                                                                <i class="bi bi-plus-lg"></i> Add Option
                                                            </button>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Select the correct answer:</label>
                                                            <select class="form-control" name="Questions[@i].CorrectOptionText" required>
                                                                @for (int j = 0; j < Model.Questions.ElementAt(i).Options.Count; j++)
                                                                {
                                                                    var option = Model.Questions.ElementAt(i).Options.ElementAt(j);
                                                                    <option value="@option.OptionText">@option.OptionText</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div class="btn-container">
                                            <button type="button" class="btn btn-secondary btn-sm add-question btn-add" id="add-question">
                                                <i class="bi bi-plus-lg"></i> Add Question
                                            </button>
                                            <button type="submit" id="submit-button" class="btn btn-primary btn-sm">Save</button>
                                        </div>
                                    </form>
                                    <!-- Modal for Participants Selection -->
                                    <div id="participants-modal" class="modal">
                                        <div class="modal-content">
                                            <span class="close-modal">&times;</span>
                                            <h5>Select Participants</h5>

                                            <!-- Button Container -->
                                            <div class="button-container">
                                                <button id="select-all" class="select-all-btn btn btn-primary">Select All</button>
                                            </div>

                                            <!-- Participant List -->
                                            <div class="participants-list">
                                                <!-- Dynamically populated list -->
                                                <!-- More participants... -->
                                            </div>

                                            <!-- Pagination -->
                                            <div class="pagination">
                                                <button class="prev-page btn btn-secondary">Prev</button>
                                                <span class="current-page">1</span>
                                                <button class="next-page btn btn-secondary">Next</button>
                                            </div>
                                            <div class="button-container">
                                                <button type="button" id="confirm-participants-btn" class="btn btn-primary">Confirm</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal for displaying selected participants -->
                                    <div id="selectedParticipantsModal" class="modal" style="display:none;">
                                        <div class="modal-content">
                                            <span id="closeSelectedParticipantsModal" class="close">&times;</span>
                                            <h4>Selected Participants</h4>
                                            <div class="scrollable-participants-list" style="max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
                                                <ul id="selectedParticipantsList"></ul>
                                            </div>
                                        </div>
                                    </div
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

