@using PKFAuditManagement.ViewModels
@model QC6FormCreationViewModel

<div class="justify-content-center">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Create Form QC6(3)</h1>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <form class="needs-validation" asp-action="SubmitQC6Form" asp-controller="QC6Form" id="qc6Form" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Error',
                                            text: '@Model.ErrorMessage'
                                        });
                                    });
                                </script>
                            }
                            @if (ViewBag.Errors != null)
                            {
                                <ul>
                                    @foreach (var error in ViewBag.Errors)
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            }
                            else if (ViewBag.ErrorMessage != null)
                            {
                                <span class="alert alert-danger">@ViewBag.ErrorMessage</span>
                            }
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title">New engagement / client acceptance checklist</h5>
                                    </div>
                                    <div class="col-6 mt-3 text-end">
                                        <a asp-controller="QC6Form" asp-action="GenerateDefaultTemplate" class="btn btn-primary btn-lg">Generate Default Template</a>
                                    </div>
                                </div>
                                <span class="text-danger">* indicates a mandatory field</span> 
                                <br><br>
                                <form>
                                    @Html.AntiForgeryToken()
                                    <div class="row mb-3">
                                        <label asp-for="ProspectiveClient" class="col-sm-2 col-form-label">Prospective Client:<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="ProspectiveClient" id="autoComplete" required>
                                            <div id="result"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Period Ended:<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="date" class="form-control" asp-for="PeriodEnded" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="EngagementType" class="col-sm-2 col-form-label">Type of Engagement:<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="EngagementType" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-2">
                                            <strong>Prepared by:<span class="text-danger"> *</span></strong>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Signature" asp-for="PreparedBy" value="@Model.UserEmail" required>
                                        </div>
                                        <div class="col">
                                            <input type="date" class="form-control" asp-for="PreparedByDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <strong>Reviewed by:<span class="text-danger"> *</span></strong>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" asp-for="ReviewedBy" required>
                                        </div>
                                        <div class="col">
                                            <input type="date" class="form-control" asp-for="ReviewedByDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" required>
                                        </div>
                                    </div>
                                    <br>
                                    <hr class="my-4">
                                    <h5 class="card-title"> General </h5>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Name of PKF entity proposing for the service<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="PKFEntityProposingService" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Source of referral of prospective client<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="SourceOfReferral" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Indicate the nature of service for estimate of fee for this new prospective client<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="NatureOfServiceForEstimateFee" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Estimate of fee for this new prospective client<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <span class="input-group-text">$</span>
                                            <input type="number" class="form-control" asp-for="EstimatedFee" id="EstimatedFee" placeholder="0.00" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Budgeted Time Cost<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <span class="input-group-text">$</span>
                                            <input type="number" class="form-control" asp-for="BudgetedTimeCost" id="BudgetedTimeCost" placeholder="0.00" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Should at least be 30%. And to disclose reasons for acceptance if the budgeted fee recovery percentage is below 30%.">
                                            <span class="link-text">Budgeted fee recovery rate (budgeted fee / budgeted time cost)</span>
                                        </label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="BudgetedFeeRecoveryRate" disabled>
                                                <span class="input-group-text">%</span>
                                                <input type="hidden" asp-for="BudgetedFeeRecoveryRate" id="BudgetedFeeRecoveryRateHidden" />
                                            </div>
                                        </div>
                                    </div>        
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Any outstanding unpaid fees?<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" asp-for="OutstandingUnpaidFees">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Conflicts check done?<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" asp-for="ConflictsCheckDone">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Type of activities of prospective client<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="TypeOfActivities" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Complexity of engagement based on preliminary evaluation<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="ComplexityOfEngagement" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Predecessor Auditor</label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="PredecessorAuditor">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Reasons for discontinuance of Predecessor Auditor<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input type="text" class="form-control" asp-for="ReasonsForDiscontinuance" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Public Interest Entity (PIE)?<span class="text-danger"> *</span></label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <input class="form-check-input" type="checkbox" id="pieCheckbox" onchange="toggleRiskLevel()" asp-for="IsPublicInterestEntity">
                                        </div>
                                    </div>

                                    <div class="row mb-3" id="riskLevelRow" style="display:none;">
                                        <label class="col-sm-2 col-form-label">Type of PIE</label>
                                        <div class="col-sm-10 d-flex align-items-center">
                                            <select class="form-control" id="riskLevel" asp-for="PublicInterestEntityType">
                                                <option value="Listed">Listed</option>
                                                <option value="Financial Institution">Financial Institution</option>
                                                <option value="Large Charity">Large Charity</option>
                                                <option value="Large Institution of Public Character (“IPC”)">Large Institution of Public Character (“IPC”)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card border border-secondary p-3 mb-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-9">
                                                    <h5 class="card-title"> Fee from tax services, accounting, payroll, secretarial services and other non-audit services (if any) </h5>
                                                </div>
                                                <div class="col-3">
                                                    <button class="btn btn-primary d-flex align-items-center " id="retrieveFeeDetailsButton">View NAS Details</button>
                                                </div>
                                            </div>
                                            <div class="row mb-3 service input-field" id="services">
                                                @for (int i = 0; i < Model.Services.Count; i++)
                                                {
                                                    <div class="card border border-secondary p-3 mb-3">
                                                        <div class="row mb-3 service input-field card-body">
                                                            <div class="col-sm-12">
                                                                <h6 class="card-title">Service @(i + 1)</h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Nature of Service:</label>
                                                                <select class="form-control" asp-for="Services[i].NatureOfService" onchange="showOtherServiceInput(this)">
                                                                    <option value="Tax Services">Tax Services</option>
                                                                    <option value="Accounting">Accounting</option>
                                                                    <option value="Payroll">Payroll</option>
                                                                    <option value="Secretarial Services">Secretarial Services</option>
                                                                    <option value="Other Non-Audit Services">Other Non-Audit Services</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Fee:</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text">$</span>
                                                                    <input asp-for="Services[i].Fee" class="form-control" required/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mt-3" id="otherServiceInput-@i" style="display: none;">
                                                                <label>Name of Non-Audit Service</label>
                                                                <input type="text" name="Services[@i].OtherService" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <button type="button" class="btn btn-primary mb-3" id="addService">Add New Service</button>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label">Grand Total Fee:</label>
                                                <div class="col-sm-10 d-flex align-items-center">
                                                    <input type="number" class="form-control" id="grandTotal" disabled>
                                                    <input type="hidden" class="form-control" id="grandTotalHidden" asp-for="GrandTotal">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label">Audit Fee:<span class="text-danger"> *</span> </label>
                                                <div class="col-sm-10 d-flex align-items-center">
                                                    <input type="number" class="form-control" id="auditFee" step="0.01" asp-for="AuditFee" required>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="To calculate before providing non-audit services (“NAS”) to disclose promptly to TCWG if the 50% threshold is crossed.
                                                    Computed as % of NAS from client and its controlled entities (excluding ARS fees) over fees from audit of the financial statements from client and its controlled entities.">
                                                    <span class="link-text">Fee concentration (Non-audit services fees / audit fees = x%)</span>
                                                </label>
                                                <div class="col-sm-10 d-flex align-items-center">
                                                    <input type="number" class="form-control" id="feeConcentration" disabled>
                                                    <input type="hidden" id="feeConcentrationHidden" asp-for="FeeConcentration">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary mb-3" onclick="calculateTotalAndConcentration()">Calculate</button>
                                        </div>
                                    </div>
                                    <br>
                                    <hr class="my-4">
                                    
                                    <div class="row mb-3" id="TNEForm">
                                        <div class="col-sm-12">
                                            <h5 class="card-title">Section B: TNA / TNE Assessment</h5>
                                            <hr class="my-4">
                                        </div>
                                        <p>
                                            Client circumstances may change, for continuing engagements, and therefore this <b>Section B</b> must be completed for each engagement continuance assessment.
                                        </p>
                                        <br>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Is the engagement audit or non-audit?</label>
                                            <div class="col-sm-10 d-flex align-items-center">
                                                <select class="form-control" id="engagementType" asp-for="TNATNEAssessment.SectionB.IsAudit">
                                                    <option value="Audit">Audit</option>
                                                    <option value="Non-Audit">Non-Audit</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3"><b>If “Audit” complete Section B Q1-Q5, if “Non-audit” jump to Section B Q5</b></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q1</th>
                                                        <td style="width: 45%;">Are the financial statements relied upon outside the entity’s home jurisdiction for purposes of significant lending, investment or regulatory decisions? (Only applies to AUDIT clients)</td>
                                                        <td style="width: 45%;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" id="q1Yes" name="TNATNEAssessment.SectionB.Q1" value="true" @(Model.TNATNEAssessment.SectionB.Q1 == true ? "checked" : "")>
                                                                <label class="form-check-label" for="q1Yes">Yes</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" id="q1No" name="TNATNEAssessment.SectionB.Q1" value="false" @(Model.TNATNEAssessment.SectionB.Q1 == false ? "checked" : "")>
                                                                <label class="form-check-label" for="q1No">No</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q2</th>
                                                        <td style="width: 45%;">Does the entity have listed (public) equity or debt? (Only applies to AUDIT clients)</td>
                                                        <td style="width: 45%;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q2" value="true" @(Model.TNATNEAssessment.SectionB.Q2 == true ? "checked" : "") id="q2Yes">
                                                                <label class="form-check-label" for="q2Yes">Yes</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q2" value="false" @(Model.TNATNEAssessment.SectionB.Q2 == false ? "checked" : "") id="q2No">
                                                                <label class="form-check-label" for="q2No">No</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q3</th>
                                                        <td style="width: 45%;">Is the entity a Public Interest Entity which attracts particular public attention because of its size, products or services provided? (Only applies to AUDIT clients)</td>
                                                        <td style="width: 45%;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q3" value="true" @(Model.TNATNEAssessment.SectionB.Q3 == true ? "checked" : "") id="q3Yes">
                                                                <label class="form-check-label" for="q3Yes">Yes</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q3" value="false" @(Model.TNATNEAssessment.SectionB.Q3 == false ? "checked" : "") id="q3No">
                                                                <label class="form-check-label" for="q3No">No</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q4</th>
                                                        <td style="width: 45%;">Is the entity a significant component of a group which is a TNA (Only applies to AUDIT clients)</td>
                                                        <td style="width: 45%;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q4" value="true" @(Model.TNATNEAssessment.SectionB.Q4 == true ? "checked" : "") id="q4Yes">
                                                                <label class="form-check-label" for="q4Yes">Yes</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q4" value="false" @(Model.TNATNEAssessment.SectionB.Q4 == false ? "checked" : "") id="q4No">
                                                                <label class="form-check-label" for="q4No">No</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q5</th>
                                                        <td style="width: 45%;">Is the entity registered, or has facilities, operations, branches, associate companies, associate company shareholder, subsidiaries, parent company (whether intermediate or ultimate) or joint arrangements outside of the entity’s home country? (Applies to AUDIT & NON-AUDIT clients)</td>
                                                        <td style="width: 45%;">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q5" value="true" @(Model.TNATNEAssessment.SectionB.Q5 == true ? "checked" : "") id="q5Yes">
                                                                <label class="form-check-label" for="q5Yes">Yes</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="TNATNEAssessment.SectionB.Q5" value="false" @(Model.TNATNEAssessment.SectionB.Q5 == false ? "checked" : "") id="q5No">
                                                                <label class="form-check-label" for="q5No">No</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-12">
                                                <h5 class="card-title">Section C: Overall Evaluation</h5>
                                                <hr class="my-4">
                                            </div>
                                            <p>
                                                If the engagement is an audit and any of Section B Q1 – Q4 responses is “Yes”, the entity is a TNA. If the engagement is non-audit and Section B Q5 response is “Yes”, the entity is a TNE. If all responses to Section B Q1 – Q5 are “No”, the entity is neither a TNA nor a TNE.
                                            </p>
                                            <br>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Client entity is assessed as</label>
                                            <div class="col-sm-10 d-flex align-items-center">
                                                <select class="form-control" asp-for="TNATNEAssessment.SectionCEvaluation">
                                                    <option value="TNA">TNA</option>
                                                    <option value="TNE">TNE</option>
                                                    <option value="Both a TNA and a TNE">Both a TNA and a TNE</option>
                                                    <option value="Neither a TNA nor a TNE">Neither a TNA nor a TNE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-12">
                                                <h5 class="card-title">Section D: Judgements applied</h5>
                                                <hr class="my-4">
                                            </div>
                                            <p>
                                                This table can be used to document a record of any significant judgements applied when responding to the TNA/TNE questions in the table above. A record of any relevant judgements will be helpful to support the basis of future TNA/TNE assessments for the client as part of continuance procedures for recurring engagements.
                                            </p>
                                            <br>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q1</th>
                                                        <td style="width: 45%;">Are the financial statements relied upon outside the entity’s home jurisdiction for purposes of significant lending, investment or regulatory decisions?</td>
                                                        <td style="width: 45%;">
                                                            <input type="text" class="form-control" placeholder="Consider documenting any significant judgements applied in determining the answer to this question" asp-for="TNATNEAssessment.SectionD.Q1Comment">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q2</th>
                                                        <td style="width: 45%;">Does the entity have listed (public) equity or debt?</td>
                                                        <td style="width: 45%;">
                                                            <input type="text" class="form-control" placeholder="Consider documenting any significant judgements applied in determining the answer to this question" asp-for="TNATNEAssessment.SectionD.Q2Comment">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q3</th>
                                                        <td style="width: 45%;">Is the entity a Public Interest Entity which attracts particular public attention because of its size, products or services provided?</td>
                                                        <td style="width: 45%;">
                                                            <input type="text" class="form-control" placeholder="Consider documenting any significant judgements applied in determining the answer to this question" asp-for="TNATNEAssessment.SectionD.Q3Comment">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q4</th>
                                                        <td style="width: 45%;">Is the entity a significant component of a group which is a TNA?</td>
                                                        <td style="width: 45%;">
                                                            <input type="text" class="form-control" placeholder="Consider documenting any significant judgements applied in determining the answer to this question" asp-for="TNATNEAssessment.SectionD.Q4Comment">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">Q5</th>
                                                        <td style="width: 45%;">Is the entity registered, or has facilities, operations, branches, associate companies, associate company shareholder, subsidiaries, parent company (whether intermediate or ultimate) or joint arrangements outside of the entity’s home country?</td>
                                                        <td style="width: 45%;">
                                                            <input type="text" class="form-control" placeholder="Consider documenting any significant judgements applied in determining the answer to this question" asp-for="TNATNEAssessment.SectionD.Q5Comment">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </form>

                                <!-- QC6SubForms Beginning -->
                                @{
                                    int subFormIndex = 0;
                                }
                                @foreach (var subForm in Model.SubForms)
                                {
                                    <input type="hidden" name="SubForms.Index" value="@subForm.QC6SubFormID" />
                                    <h5 class="card-title">@subForm.SubFormType</h5>
                                    <!-- Checkbox for hiding/showing the table -->
                                    @if (subFormIndex == 1 || subFormIndex == 2)
                                    {
                                        <div class="form-check mb-3">
                                            <input type="hidden" name="SubForms[@subFormIndex].SubFormNotApplicable" value="false" />
                                            <input class="form-check-input" type="checkbox" id="toggleSubForm@(subFormIndex)" name="SubForm@(subFormIndex)NotApplicable" value="true" onclick="toggleSubForm(@subFormIndex)">
                                            <label class="form-check-label" for="toggleSubForm@(subFormIndex)">
                                                Not Applicable
                                            </label>
                                        </div>
                                    }
                                    <div class="table-responsive" id="tableContainer@(subFormIndex)">
                                        <table class="table table-bordered table-striped">
                                            <thead class="table-light" style="background-color: #f8f9fa;">
                                                <tr>
                                                    <th class="text-left pl-3 text-uppercase" style="width: 40%;">Objectives and detailed tests</th>
                                                    <th class="text-left text-uppercase">Sign</th>
                                                    <th class="text-left text-uppercase">Date</th>
                                                    <th class="text-left text-uppercase" style="width: 40%;">Ref/Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var objective in subForm.Objectives)
                                                {
                                                    <input type="hidden" name="SubForms[@subForm.QC6SubFormID].Objectives.Index" value="@objective.QC6FormObjectiveID" />

                                                    <tr class="font-weight-bold" style="background-color: #f8f9fa;">
                                                        <td colspan="4"><b>@objective.Objective</b></td>
                                                    </tr>
                                                    @foreach (var testDescription in objective.TestDescriptions)
                                                    {
                                                        <input type="hidden" name="SubForms[@subForm.QC6SubFormID].Objectives[@objective.QC6FormObjectiveID].TestDescriptions.Index" value="@testDescription.QC6FormTestDescriptionID" />
                                                        <tr class="text-zinc-700 dark:text-zinc-400">
                                                            <td>
                                                                <div>
                                                                    <p>@Html.Raw(@testDescription.Description)</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" placeholder="Signed By" name="SubForms[@subForm.QC6SubFormID].Objectives[@objective.QC6FormObjectiveID].TestDescriptions[@testDescription.QC6FormTestDescriptionID].SignBy" value="@Model.UserEmail" required />
                                                            </td>
                                                            <td>
                                                                <input type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" name="SubForms[@subForm.QC6SubFormID].Objectives[@objective.QC6FormObjectiveID].TestDescriptions[@testDescription.QC6FormTestDescriptionID].SignDate" required />
                                                            </td>
                                                            <td>
                                                                <textarea class="form-control" rows="3" placeholder="Ref/Comment" name="SubForms[@subForm.QC6SubFormID].Objectives[@objective.QC6FormObjectiveID].TestDescriptions[@testDescription.QC6FormTestDescriptionID].Comment">@testDescription.Comment.Replace("<br>", "\n")</textarea>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                @if (subFormIndex == 0)
                                                {
                                                    <tr class="font-weight-bold" style="background-color: #f8f9fa;">
                                                        <td colspan="4"><b>Note:</b> For PEPs that are linked to Peoples’ Action Party in Singapore and PEPs where their wealth is known publicly, there is no need to establish their source of funds for their operations.  </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    subFormIndex++;
                                }
                               
                                <h5 class="card-title">Conclusion</h5>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">
                                        Are there any significant risks associated with the acceptance of the engagement?<span class="text-danger"> *</span>
                                    </label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <input class="form-check-input me-3" type="checkbox" onchange="toggleSignificantRisk()" id="significantRiskCheckbox" asp-for="AnySignificantRisk">
                                    </div>
                                </div>
                                <div class="row mb-3" id="significantRiskRow" style="display: none;">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">
                                        Describe these risks and what safeguards are required to reduce these risks to an acceptable level before acceptance of this engagement.
                                    </label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <textarea class="form-control" id="significantRiskComment" rows="4" asp-for="SignificantRiskComment"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">New engagement / *client risk rated as: <br> *See <a>Appendix 2</a> for categories of risks<span class="text-danger"> *</span></label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <select class="form-control" id="riskLevel" asp-for="NewEngagementRiskRating">
                                            <option value="Normal (N)">Normal (N)</option>
                                            <option value="Moderate (M)">Moderate (M)</option>
                                            <option value="High Risk (H1)">High Risk (H1)</option>
                                            <option value="High Risk 2 (H2)">High Risk 2 (H2)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Reason for the risk rating:<span class="text-danger"> *</span></label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <input type="text" class="form-control" id="inputText" asp-for="NewEngagementRiskRatingReason" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Based on the risk rating above, the engagement should be subject to:<span class="text-danger"> *</span></label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <select class="form-control" id="safeguardReview" asp-for="EngagementSubjectedTo">
                                            <option value="No safeguard review (N)">No safeguard review (N)</option>
                                            <option value="Full safeguard review (H1)">Full safeguard review (H1)</option>
                                            <option value="Focused safeguard review on opinion (H2)">Focused safeguard review on opinion (H2)</option>
                                            <option value="Focused safeguard review on audit or accounting issues (M)">Focused safeguard review on audit or accounting issues (M)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name of safeguard reviewer assigned by Head of Division/Managing Partner/Quality Management Partner:<span class="text-danger"> *</span></label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <input type="text" class="form-control" id="inputText" asp-for="SafeguardReviewerAssigned" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Should new engagement or client be accepted or rejected?<span class="text-danger"> *</span></label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <select class="form-control" id="engagementClientAcceptance" asp-for="IsNewEngagementAcceptance">
                                            <option value="Accepted">Accepted</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Should suspicious transaction report (“STR”) be filed with CAD for the prospective client<span class="text-danger"> *</span></label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <input class="form-check-input me-3" type="checkbox" onchange="toggleRationaleSTR()" id="strCheckbox" asp-for="IsSuspiciousTransactionReportFiled">
                                    </div>
                                </div>
                                <div class="row mb-3" id="rationaleSTRRow" style="display: none;">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">
                                        If yes, please set out the rationale and basis for STR. If in doubt, please seek advice from legal counsel after discussing with Managing Partner and /or Quality Management Partner.
                                    </label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <textarea class="form-control" id="rationaleSTRRowInput" rows="4" asp-for="SuspiciousTransactionReportFiledRationale"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Having considered the objectives above, I am satisfied that we should accept the engagement subject to approval by the Managing Partner/Quality Management Partner/Head of Division<span class="text-danger"> *</span> </label>
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <input type="text" class="form-control" id="inputText" asp-for="Satisfaction" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BusinessProfile">Company’s business profile in PDF</label>
                                    <input asp-for="BusinessProfile" type="file" class="form-control" accept="application/pdf" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="TrendSearch">TREND search in PDF</label>
                                    <input asp-for="TrendSearch" type="file" class="form-control" accept="application/pdf" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="GoogleSearch">Google search in PDF</label>
                                    <input asp-for="GoogleSearch" type="file" class="form-control" accept="application/pdf" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="LexisNexisSearch">Lexis Nexis search in PDF</label>
                                    <input asp-for="LexisNexisSearch" type="file" class="form-control" accept="application/pdf" />
                                </div>

                                <div id="other-documents-container" class="form-group">
                                    <label>Other docs in PDF (option to add more)</label>
                                    <input asp-for="OtherDocuments" type="file" class="form-control mb-2" name="OtherDocuments" accept="application/pdf" />
                                </div>
                                <button type="button" id="add-more-docs" class="btn btn-secondary">Add More Documents</button>

                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Prepared by:<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control" id="inputText" placeholder="Engagement Manager" asp-for="ConclusionPreparedBy" value="@Model.UserEmail" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Date:<span class="text-danger"> *</span></label>
                                        <input type="date" class="form-control" id="inputText" asp-for="ConclusionPreparedByDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2 col-form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="On creation of the QC6 form, a notifying email will be sent to this user (Engagement Partner/ Head of Division), and this user will be the first approver of the form creation.">
                                            <span class="link-text">To be approved by:</span>
                                        </label>
                                        <select asp-for="EPHODApprovedBy" class="form-control">
                                            @foreach (var email in Model.AdminEmails)
                                            {
                                                <option value="@email">@email</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Date:<span class="text-danger"> *</span></label>
                                        <input type="date" class="form-control" id="inputText" asp-for="EPHODApprovedByDate" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2 col-form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="After the first approver has approved the created QC6 form, a subsequent email will be sent to this user (Managing Partner / Head of Division / Quality Management Partner), and this user will be the second approver of the form creation.">
                                            <span class="link-text">To be approved by:</span>
                                        </label>
                                        <select asp-for="MPHODQMPApprovedBy" class="form-control">
                                            @foreach (var email in Model.AdminEmails)
                                            {
                                                <option value="@email">@email</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword3" class="col-form-label">Date:<span class="text-danger"> *</span></label>
                                        <input type="date" class="form-control" id="inputText" asp-for="MPHODQMPApprovedByDate" required>
                                    </div>
                                </div>
                                <h5 class="card-title"><u><i>Notes</i></u></h5>
                                <p>
                                    <i>
                                        To enable the authorized person to approve, the following are the minimum documentation required to be submitted together with this Form:
                                        <br> &ensp;(a) Company BizFile search (full search is not required for a newly incorporated company or a company that is dormant)
                                        <br> &ensp;(b) Screening of directors and ultimate beneficial owners owning more than 25% of the ultimate holding company using LexisNexis
                                        <br> &ensp;(c) Notes of meeting(s) or communications with the management of the prospective client or persons knowledgeable about the prospect or notes written in QC6(3)
                                        <br> &ensp;(d) Financial information if available
                                        <br> &ensp;(e) Google search to obtain any further information about the company and the directors (exclude nominee directors) that are running and managing the operations of the company.
                                        <br> &ensp;(f) Further procedures to be carried out on AML and CTF <u>should there be indicators or suspicion of integrity issues identified from the above client due diligence checking</u> may include:
                                        <br>&ensp;&ensp;(i) Ascertaining how the entity's operation is funded including the source of funds
                                        <br>&ensp;&ensp;(ii) Country where source of funds are derived
                                        <br>&ensp;&ensp;(iii) Purpose of funds flow and whether it is considered unusual
                                        <br>&ensp;&ensp;(iv) Finding out from management any investigations past or current by regulators and authorities on matters relating to tax evasion, corruption charges, terrorism financing, money laundering and any fraud and irregularities
                                        <br>&ensp;&ensp;(v) Any other procedures considered necessary by the approver.
                                    </i>
                                </p>
                                <div class="text-center">
                                    <button type="submit" class="mt-3 end-0 btn btn-primary">Submit QC6 Form</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Appendix 1</h1>
                            <p>
                                <i>
                                    Extract (partial) from the Firm’s Quality Management Manual – Categories of Risk (paragraph 8.14 to 8.15)
                                    <br><br>
                                    The firm classifies its engagements into four categories namely: -
                                    <br><br>
                                    &nbsp;&nbsp;a)  High risk engagement requiring full scope review by the safeguard reviewer (H1)
                                    <br><br>
                                    &nbsp;&nbsp;b)  High risk engagement requiring focused review on the modified opinion or a specific area(s) by the safeguard reviewer (H2)
                                    <br><br>
                                    &nbsp;&nbsp;c)  Moderate risk engagement may require areas to be subjected to focused or selective review by safeguard reviewer based on engagement partner’s discretion (M)
                                    <br><br>
                                    &nbsp;&nbsp;d)  Normal risk engagement requiring no safeguard review (N)
                                    <br><br>
                                    A safeguard review is an objective evaluation of the significant judgements made by the engagement team and the conclusions reached in formulating the report before the report is issued. The firm typically requires safeguard reviews for all the following “high risk” engagements:
                                    <br><br>
                                    (A “high risk” client that is rated as H1, is a client considered to be of high public interest or likely to be subject to higher levels of scrutiny for a variety of reasons.)
                                    <br><br>
                                    &nbsp;&nbsp;1.	Transnational entities (which include some of the categories below) (Note it is only necessary to apply the safeguard review requirement for a subsidiary if it is greater than 15% of the group by turnover, gross assets or audit hours);
                                    <br><br>
                                    &nbsp;&nbsp;2.	Publicly traded or listed companies;
                                    <br><br>
                                    &nbsp;&nbsp;3.	Large charities with donation income of S$10 million or more;
                                    <br><br>
                                    &nbsp;&nbsp;4.	Other public interest entities, such as banks, financial institutions, insurance entities, large pension schemes, large publicly funded charities (with donation in excess of S$10 million), and regulated fund management activities including if their financial statements are likely to be used across national boundaries (i.e., internationally) or if they are important National Institutions;
                                    <br><br>
                                    &nbsp;&nbsp;5.	“For sale” entities or those which are known to be targets for acquisition by another entity;
                                    <br><br>
                                    &nbsp;&nbsp;6.	Entities where a qualified audit report was issued in the last financial statements, or where a qualified audit report is expected to be issued in the current financial statements which is not due to a technical qualification such as those falling under H2;
                                    <br><br>
                                    &nbsp;&nbsp;7.	Entities where there are particular reporting difficulties where there may be doubts over the nature of audit report to be issued.
                                    <br><br>
                                    &nbsp;&nbsp;8.	First year audit of a new client arising from a change of auditors (unless the engagement is non-complex and straight-forward in nature which based on the engagement partner recommendation does not need a safeguard review).
                                    <br><br>
                                    &nbsp;&nbsp;9.	Any other significant concerns identified by the engagement partner that requires a safeguard review under H1.
                                    <br><br>
                                    The Firm classifies high risk engagements into two types namely H1 and H2.
                                    <br><br><br>
                                    <h3 class="card-title">H1 engagements</h3>
                                    For engagements such as those listed from (1) to (9) above, the firm classifies these engagements as High risk 1 (“H1”).
                                    <br><br>
                                    <h3 class="card-title">H2 engagements</h3>
                                    However, there are certain specific instances where the engagement is not really a “high risk” engagement simply because the entity incurred losses and has deficit in shareholder’s equity as the share capital is only S$2 and the funding is entirely by way of loans from the holding/related companies and there are no borrowings from third parties.  So long as the holding company provides the financial support and there is no risk of borrowings from third parties, there is no real risk of going concern. Thus, the modification of the audit report on going concern which is commonly the case with this type of engagement represents a technical modification and would not require a full scope review.
                                    Another specific instance would be the non-consolidation of a subsidiary by the Singapore holding company as the ultimate parent does not publish consolidated accounts that are publicly available. Again, this type of engagement is not really a high-risk engagement and the reason is commonly one of cost and benefit to the holding company which does not need the group accounts at the Singapore level.
                                    For those engagements as described above, they are classified as High risk 2 (“H2”). Such engagements will require only the modified opinion to be reviewed by the safeguard reviewer including the documentation of the matters that give rise to the modified opinion. Based on the judgement of the safeguard reviewer, he or she can extend the review to other areas on a selective basis as he or she deems necessary after discussion with the engagement partner or manager.
                                </i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Modal -->
<div class="modal" id="feeDetailsModal" tabindex="-1" role="dialog" aria-labelledby="feeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feeDetailsModalLabel">Fee Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body table-responsive">
                <table class="table table-bordered" id="feeDetailsTable">
                    <thead>
                        <tr>
                            <th>File Reference</th>
                            <th>Fee</th>
                            <th>Audit Services</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be populated here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/qc6-form-creation.js"></script>
}
