<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage System Accounts</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">System Accounts</h5>
                            </div>
                            <div class="col-6 mt-3 text-end">
                                <a asp-action="CreateAccount" class="btn btn-primary btn-lg">Create Account</a>
                            </div>
                        </div>
                        <p>The table below displays all the accounts present in the PKF Audit Management System.</p>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>UserName</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Email</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Role</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="@Url.Action("EditUser", new { userId  = @user.UserId })">Edit</a></li>
                                                    @if (user.IsLockedOut)
                                                    {
                                                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="showActivateModal('@user.UserId')">Activate</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="showSuspendModal('@user.UserId')">Deactivate</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>                                      
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
    <script src="~/js/account-management.js"></script>
}