<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage System Accounts</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">System Accounts</h5>
                            </div>
                            <div class="col-6 mt-3 text-end">
                                <a asp-action="CreateAccount" class="btn btn-primary btn-lg">Create Account</a>
                            </div>
                        </div>
                        <p>The table below displays all the accounts present in the PKF Audit Management System.</p>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>UserName</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Email</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Role</td>
                                        <td>
                                            <a asp-action="EditUser" asp-route-userId="@user.UserId" class="btn btn-link">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            
                                            <button type="button" class="btn btn-link text-danger" onclick="confirmDelete('@user.UserId')">
                                                <i class="fas fa-user-slash"></i>
                                            </button>
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
        function confirmDelete(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to suspend this user?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, suspend it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("SuspendUser", "Admin")',
                        type: 'POST',
                        data: {
                            userId: userId,
                            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: data.message,
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    location.reload(); // Reload the page after successful deletion
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: data.message,
                                    confirmButtonText: 'OK'
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'An error occurred while processing your request. Please try again.',
                                confirmButtonText: 'OK'
                            });
                            console.error(error);
                        }
                    });
                }
            });
        }
    </script>
}